.sections {
  &__container {
    display: flex;
    justify-content: space-between;

    width: 304px;
    margin-top: 10px;
  }

  &__box {
    border: 1px solid gray;

    width: 98px;
    height: 7px;

    background-color: grey;

    &--easy {
      background-color: red;
    }

    &--medium {
      background-color: yellow;
    }

    &--strong {
      background-color: green;
    }

    &--standard {
      background-color: gray;
    }
  }
}
